@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
*
    {
        margin: 0%;
        padding: 0;
        box-sizing: border-box;
        font-family: "Signika", sans-serif; 
    }
    .container{
        width: 40%;
        margin: auto;
        text-align: center;
        min-height: 90vh;
        gap: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: #1d2b3a;
        border-style: solid;
        border-radius: 20px;
        border-color: #1d2b3a;
        border-top-left-radius: 190px;
        border-top-right-radius: 190px;
        border-bottom-left-radius: 190px;
        border-bottom-right-radius: 198px;
        box-shadow:  0 0 98px #00F8B8, 0 0 200px #ff4da6, 0 0 30px #00F8B8, 0 0 40px #ff4da6, 0 0 50px #00F8B8, 0 0 60px #ff4da6, 0 0 70px #00F8B8;
        animation: animate 4s ease-in-out infinite alternate-reverse;
    }
    @keyframes animate
    {
        from {
                   box-shadow:  0 0 100px #00F8B8, 0 0 20px #00F8B8, 0 0 30px #00F8B8, 0 0 40px #00F8B8, 0 0 50px #00F8B8, 0 0 60px #00F8B8, 0 0 70px #00F8B8;
                }
         to {
            box-shadow:  0 0 20px #005EFF , 0 0 30px #005EFF, 0 0 40px #005EFF, 0 0 50px #41BDC7, 0 0 60px #41BDC7, 0 0 70px #41BDC7, 0 0 80px #41BDC7;
             }
    }
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #181D2A;
        height: 100vh;
        background: #1d2b3a
    }
    h1
    {
        margin: 30px;
        font-family: "Signika", sans-serif;
        font-weight: 600;
        text-shadow: 5px 0 #232931;
        font-size: 4.5rem;
        color: #1A5276;
        text-align: center;
    }
    .owner
    {
        text-align: left;
        color: #00dfc4;
        animation: glow ;
         text-shadow: 0 0 20px #2196f3, 0 0 30px #2196f3, 0 0 40px #2196f3, 0 0 50px #2196f3, 0 0 60px #2196f3, 0 0 70px #2196f3, 0 0 80px #2196f3;
    }
   .glow
    {
        font-size: 80px;
        color: #fff;
        text-align: center;
        animation: glow 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glow
     {
         from {
                   text-shadow: 0 0 10px #00F8B8, 0 0 20px #00F8B8, 0 0 30px #00F8B8, 0 0 40px #00F8B8, 0 0 50px #00F8B8, 0 0 60px #00F8B8, 0 0 70px #00F8B8;
                }
         to {
            text-shadow: 0 0 20px #005EFF, 0 0 30px #41BDC7, 0 0 40px #41BDC7, 0 0 50px #005EFF, 0 0 60px #005EFF, 0 0 70px #005EFF, 0 0 80px #005EFF;
             }
    }
p
{
     font-family: "Signika", sans-serif;
        font-weight: 700;
}
.up
    {
        font-size: 50px;
        color: #fff;
        text-align: center;
        
        animation: glow 2s ease-in-out infinite alternate-reverse;
    }
    @-webkit-keyframes up
     {
         from {
                   text-shadow: 0 0 5px #ff4da6, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6;
                }
         to {
            text-shadow: 0 0 5px #00F8B8, 0 0 10px #00F8B8, 0 0 15px #00F8B8, 0 0 20px #00F8B8, 0 0 25px #00F8B8, 0 0 30px #00F8B8, 0 0 35px #00F8B8;
             }
    }

.inputBox
{
    position: relative;
    width: 250px;
}
.inputBox input
{
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 3em;
    transition: 0.5s;
}
.inputBox span
{
    position: absolute;
    left: 0%;
    padding: 10px;
    pointer-events: none;
    font-size: 2em;
    color: rgba(255,255,255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
    
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(20px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus 
{
    border: 1px solid #00dfc4;
}
.butn
{
    position: relative;
    display: inline-block;
    color: #00dfc4;
    background: #1d2b3a;
    border-color: #1d2b3a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.butn:hover
{
    color: #1d2b3a;
    background: #00dfc4;
    box-shadow: 0 0 10px #00dfc4,0 0 40px #00dfc4,0 0 80px #00dfc4;
}
.Swal--confirmButtonText
{
    color: #00F8B8;
}


